.header-section {
    border-bottom: 1px solid var(--accent);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    font-weight: var(--font-weight-bold);
    font-size: 18px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: var(--dark);
    text-transform: uppercase;
    padding: 24px 0;
    font-family: Raleway, sans-serif;
}

.header-list-nav {
    display: flex;
    margin-left: 76px;
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-item-nav {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
    letter-spacing: var(--letter-spacing-text);
    color: var(--dark);
}

.header-item-nav a {
    display: block;
    padding: 24px 0;
}

.header-item-nav:hover,
.header-item-nav:focus {
    color: var(--pressed-state);
}

.header-address-nav {
    margin-left: auto;
}

.header-address-item {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
    letter-spacing: var(--letter-spacing-text);
    color: var(--text);
    text-align: center;
}

.header-address-item a {
    display: block;
    padding: 24px 0;
}
